Importando a biblioteca Pandas

In [1]:
import pandas as pd

Serão analisadas as bases de dados de treino e validação

In [2]:
df_train = pd.read_csv('../data/raw/fairface_label_train.csv')
df_val = pd.read_csv('../data/raw/fairface_label_val.csv')

Visualização do conjunto de dados de treino

In [3]:
df_train.head()

          file    age  gender        race  service_test
0  train/1.jpg  50-59    Male  East Asian          True
1  train/2.jpg  30-39  Female      Indian         False
2  train/3.jpg    3-9  Female       Black         False
3  train/4.jpg  20-29  Female      Indian          True
4  train/5.jpg  20-29  Female      Indian          True

Visualização do conjunto de dados de validação

In [4]:
df_val.head()

        file    age  gender             race  service_test
0  val/1.jpg    3-9    Male       East Asian         False
1  val/2.jpg  50-59  Female       East Asian          True
2  val/3.jpg  30-39    Male            White          True
3  val/4.jpg  20-29  Female  Latino_Hispanic          True
4  val/5.jpg  20-29    Male  Southeast Asian         False

Avaliando o balanceamento da base de dados de treino em relação as raças

In [5]:
df_train.race.value_counts()

race
White              16527
Latino_Hispanic    13367
Indian             12319
East Asian         12287
Black              12233
Southeast Asian    10795
Middle Eastern      9216
Name: count, dtype: int64

Avaliando o balanceamento da base de dados de validação em relação as raças

In [6]:
df_val.race.value_counts()

race
White              2085
Latino_Hispanic    1623
Black              1556
East Asian         1550
Indian             1516
Southeast Asian    1415
Middle Eastern     1209
Name: count, dtype: int64

Avaliando a aplicação do MTCNN por raça

In [49]:
df_black=pd.read_csv('../data/interim/df_black_to_2000.csv')
df_east_asian=pd.read_csv('../data/interim/df_east_asian_to_2000.csv')
df_indian=pd.read_csv('../data/interim/df_indian_to_2000.csv')
df_latino_hispanic=pd.read_csv('../data/interim/df_latino_hispanic_to_2000.csv')
df_middle_eastern=pd.read_csv('../data/interim/df_middle_eastern_to_2000.csv')
df_white=pd.read_csv('../data/interim/df_white_to_2000.csv')

In [18]:
def calcula_media(df):
    # Converte a coluna para numérico, forçando erros a NaN
    df['confidence_only_numeric'] = pd.to_numeric(df['confidence'], errors='coerce')
    # Remove os valores NaN
    df_cleaned = df.dropna(subset=['confidence_only_numeric'])
    # Calcula a média dos valores restantes
    mean_value = df_cleaned['confidence_only_numeric'].mean()
    return mean_value

Para a população asiática:

In [19]:
print('Média de confiança:', calcula_media(df_east_asian))

Média de confiança: 0.9929943970472516

In [23]:
count_problema_detec=df_east_asian[df_east_asian['confidence']=='mais de um rosto detectado']['file'].count()
print('Problema na detecção em', count_problema_detec, 'imagens')

Problema na detecção em 28 imagens

Para a população indiana:

In [38]:
def convert_to_float(value):
    if isinstance(value, str):
        try:
            # Remover os colchetes e converter para float
            return float(value.strip('[]'))
        except ValueError:
            # Retornar o valor original se a conversão falhar
            return value
    return value

In [39]:
# Aplicar a função de conversão a cada elemento da coluna
df_indian['confidence'] = df_indian['confidence'].apply(convert_to_float)

In [41]:
print('Média de confiança:', calcula_media(df_indian))

Média de confiança: 0.9960611814123603

In [44]:
count_problema_detec=df_indian[df_indian['confidence']=='nenhum rosto detectado (=0)']['file'].count()
print('Não foram detectados rostos em ', count_problema_detec, 'imagens')

Não foram detectados rostos em  15 imagens

In [45]:
count_problema_detec=df_indian[df_indian['confidence']=='mais de um rosto detectado']['file'].count()
print('Foram detectados mais de um rosto em', count_problema_detec, 'imagens')

Foram detectados mais de um rosto em 2 imagens

Para a população branca:

In [28]:
print('Média de confiança:', calcula_media(df_white))

Média de confiança: 0.9906999818557735

In [29]:
count_problema_detec=df_white[df_white['confidence']=='mais de um rosto detectado']['file'].count()
print('Problema na detecção em', count_problema_detec, 'imagens')

Problema na detecção em 36 imagens

Para a população negra:

In [51]:
df_black['confidence'] = df_black['confidence'].apply(convert_to_float)

In [52]:
print('Média de confiança:', calcula_media(df_black))

Média de confiança: 0.9915674726168314

In [55]:
count_problema_detec=df_black[df_black['confidence']=='mais de um rosto detectado']['file'].count()
print('Problema na detecção em', count_problema_detec, 'imagens')

Problema na detecção em 15 imagens