Importando a biblioteca Pandas

In [1]:
import pandas as pd

Serão analisadas as bases de dados de treino e validação

In [2]:
df_train = pd.read_csv('../data/raw/fairface_label_train.csv')
df_val = pd.read_csv('../data/raw/fairface_label_val.csv')

Visualização do conjunto de dados de treino

In [3]:
df_train.head()

          file    age  gender        race  service_test
0  train/1.jpg  50-59    Male  East Asian          True
1  train/2.jpg  30-39  Female      Indian         False
2  train/3.jpg    3-9  Female       Black         False
3  train/4.jpg  20-29  Female      Indian          True
4  train/5.jpg  20-29  Female      Indian          True

Visualização do conjunto de dados de validação

In [4]:
df_val.head()

        file    age  gender             race  service_test
0  val/1.jpg    3-9    Male       East Asian         False
1  val/2.jpg  50-59  Female       East Asian          True
2  val/3.jpg  30-39    Male            White          True
3  val/4.jpg  20-29  Female  Latino_Hispanic          True
4  val/5.jpg  20-29    Male  Southeast Asian         False

Avaliando o balanceamento da base de dados de treino em relação as raças

In [5]:
df_train.race.value_counts()

race
White              16527
Latino_Hispanic    13367
Indian             12319
East Asian         12287
Black              12233
Southeast Asian    10795
Middle Eastern      9216
Name: count, dtype: int64

Avaliando o balanceamento da base de dados de validação em relação as raças

In [6]:
df_val.race.value_counts()

race
White              2085
Latino_Hispanic    1623
Black              1556
East Asian         1550
Indian             1516
Southeast Asian    1415
Middle Eastern     1209
Name: count, dtype: int64

Avaliando a aplicação do MTCNN por raça

In [7]:
#df_black=pd.read_csv('../data/interim/df_black_to_2000.csv')
df_east_asian=pd.read_csv('../data/interim/df_east_asian_to_2000.csv')
df_indian=pd.read_csv('../data/interim/df_indian_to_2000.csv')
df_latino_hispanic=pd.read_csv('../data/interim/df_latino_hispanic_to_2000.csv')
df_middle_eastern=pd.read_csv('../data/interim/df_middle_eastern_to_2000.csv')
df_white=pd.read_csv('../data/interim/df_white_to_2000.csv')

In [17]:
def calcula_media(df):
    # Converte a coluna para numérico, forçando erros a NaN
    df['confidence_only_numeric'] = pd.to_numeric(df['confidence'], errors='coerce')
    # Remove os valores NaN
    df_cleaned = df.dropna(subset=['confidence_only_numeric'])
    # Calcula a média dos valores restantes
    mean_value = df_cleaned['confidence_only_numeric'].mean()
    return mean_value

,Unnamed: 0,file,age,gender,race,service_test,confidence,confidence_only_numeric
0,6,train/7.jpg,40-49,Male,Middle Eastern,False,não foi detectado nenhum rosto,NaN
1,9,train/10.jpg,30-39,Male,Middle Eastern,False,não foi detectado nenhum rosto,NaN
2,21,train/22.jpg,30-39,Female,Middle Eastern,True,não foi detectado nenhum rosto,NaN
3,33,train/34.jpg,40-49,Male,Middle Eastern,False,nenhum rosto detectado (=0),NaN
4,35,train/36.jpg,60-69,Female,Middle Eastern,True,não foi detectado nenhum rosto,NaN
...,...,...,...,...,...,...,...,...
11014,1995,NaN,NaN,NaN,NaN,NaN,não foi detectado nenhum rosto,NaN
11015,1996,NaN,NaN,NaN,NaN,NaN,não foi detectado nenhum rosto,NaN
11016,1997,NaN,NaN,NaN,NaN,NaN,não foi detectado nenhum rosto,NaN
11017,1998,NaN,NaN,NaN,NaN,NaN,não foi detectado nenhum rosto,NaN
11018,2000,NaN,NaN,NaN,NaN,NaN,não foi detectado nenhum rosto,NaN

In [15]:
for dataframe in lista_dataframes:
    # Converte a coluna para numérico, forçando erros a NaN
    dataframe['confidence_only_numeric'] = pd.to_numeric(dataframe['confidence'], errors='coerce')
    # Remove os valores NaN
    df_cleaned = dataframe.dropna(subset=['confidence_only_numeric'])
    # Calcula a média dos valores restantes
    mean_value = df_cleaned['confidence_only_numeric'].mean()
    print('Valor médio de confiança:', mean_value)
    # cont_nao_deteccao=dataframe[dataframe['confidence']=='mais de um rosto detectado'].count()
    # print('Quantidade de imagens com mais de um rosto detectado: ', cont_nao_deteccao)
    # cont_dois_rostos_ou_mais=dataframe[dataframe['confidence']=='nenhum rosto detectado (=0)'].count()
    # print('Quantidade de imagens que não foram detectados rostos: ', cont_dois_rostos_ou_mais)
    # cont_erro_deteccao=dataframe[dataframe['confidence']=='não foi detectado nenhum rosto'].count()
    # print('Quantidade de imagens com erro na detecção de rosto: ', cont_erro_deteccao)
    # print('\n')

Valor médio de confiança: 0.9929943970472516
Valor médio de confiança: nan
Valor médio de confiança: nan
Valor médio de confiança: nan
Valor médio de confiança: 0.9906999818557735