Importando a biblioteca Pandas

In [2]:
import pandas as pd

Serão analisadas as bases de dados de treino e validação

In [13]:
df_train = pd.read_csv('../data/raw/fairface_label_train.csv')
df_val = pd.read_csv('../data/raw/fairface_label_val.csv')

Visualização do conjunto de dados de treino

In [14]:
df_train.head()

          file    age  gender        race  service_test
0  train/1.jpg  50-59    Male  East Asian          True
1  train/2.jpg  30-39  Female      Indian         False
2  train/3.jpg    3-9  Female       Black         False
3  train/4.jpg  20-29  Female      Indian          True
4  train/5.jpg  20-29  Female      Indian          True

Visualização do conjunto de dados de validação

In [7]:
df_val.head()

        file    age  gender             race  service_test
0  val/1.jpg    3-9    Male       East Asian         False
1  val/2.jpg  50-59  Female       East Asian          True
2  val/3.jpg  30-39    Male            White          True
3  val/4.jpg  20-29  Female  Latino_Hispanic          True
4  val/5.jpg  20-29    Male  Southeast Asian         False

Avaliando o balanceamento da base de dados de treino em relação as raças

In [10]:
df_train.race.value_counts()

race
White              16527
Latino_Hispanic    13367
Indian             12319
East Asian         12287
Black              12233
Southeast Asian    10795
Middle Eastern      9216
Name: count, dtype: int64

Avaliando o balanceamento da base de dados de validação em relação as raças

In [11]:
df_val.race.value_counts()

race
White              2085
Latino_Hispanic    1623
Black              1556
East Asian         1550
Indian             1516
Southeast Asian    1415
Middle Eastern     1209
Name: count, dtype: int64